<h2>
  Votre <strong>droit à l'information</strong>
</h2>
<p>Tout citoyen a le droit de demander -et d'obtenir- accès aux documents détenus par les organismes publics. <strong>Ces derniers ont l'obligation légale de répondre</strong>. <a href="<%= help_about_url %>">En savoir plus.</a></p>
