<% @title = "Conditions d’utilisation et Respect de la vie privée" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">
 <h1>Conditions d’utilisation et Respect de la vie privée</h1>

<p>Le présent texte contient les conditions d’utilisation que vous devez accepter en vue de créer un compte et ainsi utiliser la version de test (beta) du service JeVeuxSavoir.org.</p>

<h2>Avis de confidentialité</h2>

<p>JeVeuxSavoir.org se préoccupe de la protection de votre vie privée et des renseignements personnels qui sont recueillis durant l’utilisation du site.</p>
<p>Aucun renseignement personnel spécifique, comme votre nom, votre numéro de téléphone ou votre adresse de courriel, ne sont recueillis automatiquement. Les seules données personnelles recueillies le sont lors de l’inscription en ligne au service.</p>

<p>Seuls les renseignements personnels nécessaires pour le traitement de votre demande d’accès sont obligatoires. Il s’agit de :</p>
<ul>
<li>Votre nom, qui accompagnera vos demandes d’accès à l’information (Plus d’informations sur la nécessité de <a href="http://help/privacy#nom" target="_blank">fournir votre vrai nom</a>), et;</li>
<li>Une adresse courriel active pour vous notifier des réponses à vos demandes d’accès et permettre aux agents d’accès à l’information de pouvoir vous contacter au besoin.</li>
</ul>

<p>Si vous choisissez de fournir d’autres renseignements personnels vous concernant, ceux-ci sont à votre entière discrétion et seront traités confidentiellement dans votre profil d’utilisateur.</p>

<p>Par ailleurs vous devez définir un mot de passe qui est stocké par JeVeuxSavoir.org de manière cryptée.</p>

<p>Tous les renseignements personnels recueillis par JeVeuxSavoir lors de la création ou de la modification de votre profil sont protégés en vertu de la <a href="http://www2.publicationsduquebec.gouv.qc.ca/dynamicSearch/telecharge.php?type=2&amp;file=/P_39_1/P39_1.html" target="_blank">Loi sur la protection des renseignements personnels dans le secteur privé</a>.</p>

<p>Dans le cadre du fonctionnement de l’application, JeVeuxSavoir transmettra votre nom et votre adresse courriel, tel que remplis dans votre profil, aux organismes auxquels vous soumettez votre demande. Ceci mis à part, JeVeuxSavoir s’engage à ne divulguer aucun des renseignements personnels collectés sauf si la loi ou un processus judiciaire nous y oblige.</p>

<p>Les renseignements personnels recueillis pour la constitution de votre profil sont stockés sur un serveur sous la responsabilité de Nord Ouvert inc. et situé au Québec. Seuls les administrateurs techniques sont en mesure d’accéder aux informations personnelles et ces derniers doivent s’engager à protéger ces données.</p>

<p>Conformément à l’article 8 de la Loi sur la protection des renseignements personnels dans le secteur privé, vous avez également un droit de modification des renseignements personnes vous concernant. La majorité des modifications peuvent être réalisées via votre profil d’utilisateur. Si vous souhaitez faire modifier des données déjà publiées sur le site ou faire supprimer certaines données ou pour toute autre question à laquelle vous ne trouvez pas de réponse, veuillez nous <a href="http://help/contact" target="_blank">contacter</a>.</p>

<p>Si vous souhaitez avoir un avis externe ou obtenir plus d’information sur la Loi sur la protection des renseignements personnels dans le secteur privé vous pouvez contacter la <a href="http://www.cai.gouv.qc.ca/" target="_blank">Commission d’accès à l’information du Québec</a>.</p>



<h2>Échanges et réception des documents</h2>

<p>En vertu de l’article 31 de la <a href="http://www2.publicationsduquebec.gouv.qc.ca/dynamicSearch/telecharge.php?type=2&amp;file=/C_1_1/C1_1.html" target="_blank">Loi concernant le cadre juridique des technologies de l’information</a>, un document technologique, notamment un document transmis par courriel, est présumé reçu ou remis lorsqu&#39;il devient accessible à l&#39;adresse que le destinataire indique, en l’occurrence l’adresse courriel que vous fournissez lors de la création de votre compte.</p>

<p>Dans le cadre d’une demande d’accès aux documents, cela signifie que les délais prescrits par la loi, notamment les délais de demande de révision et d’appel courent à partir de la réception du document transmis par courriel.</p>

<p>Le document est également présumé intelligible, à moins d&#39;un avis contraire envoyé à l&#39;expéditeur dès l&#39;ouverture du document.</p> 

<h2>Consentement à la diffusion en ligne de votre nom et  de votre demande</h2>

<p>En acceptant les présentes conditions d’utilisation, vous acceptez que JeVeuxSavoir.org publie en ligne de manière publique et permanente votre nom ainsi que les échanges que vous aurez avec des agents d’accès à l’information et dont JeVeuxSavoir.org se fera le transmetteur.</p>

<p>Toute demande d’accès à l’information soumise par le biais de JeVeuxSavoir.org sera rendue publique sur Internet, de même que tous les échanges subséquents véhiculés par le biais de JeVeuxSavoir, et accompagné du nom de la personne ayant soumis la demande.</p>

<p>Les autres informations personnelles collectées par JeVeuxSavoir.org, comme l’adresse courriel du demandeur ne seront PAS accessibles aux visiteurs de JeVeuxSavoir.</p>

<p>Vous devez également prendre gare aux informations personnelles que vous ajoutez dans votre courriel. Ainsi vous souhaiterez peut être supprimer de vos courriels votre signature électronique qui pourrait contenir numéro de téléphone ou adresse postal car ces derniers risques d’être publiés.</p>

<p>Le logiciel de JeVeuxSavoir tente de masquer les numéros de téléphone et les adresses courriel incorporés dans les messages échangés, mais pour différentes raisons il est possible que ce masquage ne fonctionne pas.</p>

<p>JeVeuxSavoir ne peut être tenu responsable si vous mettez des informations personnelles dans les messages échangées et que ces informations se retrouvent ensuite accessibles publiquement sur le site JeVeuxSavoir.</p>

<h2>Stockage des données de navigation</h2>

<p>Dès que vous accédez au service JeVeuxSavoir.org, un échange de renseignements s&#39;effectue automatiquement entre l&#39;ordinateur que vous utilisez et le serveur de JeVeuxSavoir.org.
Les renseignements échangés comprennent :</p>

<ul>
	<li>Le nom de domaine de votre fournisseur d&#39;accès à Internet et votre adresse IP;</li>
	<li>Le navigateur et le système d’exploitation que vous utilisez;</li>
	<li>Les pages que vous visitez avec la date et l’heure de chaque accès;</li>
	<li>L&#39;adresse du site d&#39;où vous venez.</li>
</ul>

<p>Ces données sont automatiquement collectées par le logiciel assurant la mise à disposition des pages web et sont conservées temporairement dans des journaux d’événements afin de retracer tout problème technique le cas échéant. Ces données d’accès ne sont pas recoupées avec d’autres données comme les données personnelles.</p>

<h2>Fichiers témoins</h2>

<p>JeVeuxSavoir utilise des fichiers témoins (connus sous le nom de cookies) contenant des données permettant à l’application de vous reconnaître lorsque vous naviguez sur le site. Ces fichiers témoins ne contiennent aucune information personnelle et sont de deux types:</p>

<ul>
	<li>Fichier témoin volatile: Ces fichiers sont nécessaires au fonctionnement de l’application JeVeuxSavoir pour vous reconnaitre lorsque vous passez d’une page à une autre ou pour mémoriser certains éléments de contexte. Les témoins volatiles disparaissent lorsque vous quittez la session JeVeuxSavoir ou que vous fermez votre navigateur web.</li>
	<li>Fichier témoin persistant: Ces fichiers sont souvegardés sur votre disque dur lorsque vous éteignez votre navigateur et peuvent perdurer jusqu’à un mois après votre dernière visite. Il s’agit principalement:
	<ul>
		<li>Du fichier témoin de session qui permet à l’application que vous êtes un utilisateur enregistré dans l’application. Ce témoin a une durée de vie d’un mois si vous cliquez l’option “Se rappeler du mot de passe” lorsque vous vous connectez. Sinon ce témoin est supprimé à la fermeture de votre navigateur</li>
		<li>Fichier témoin de consultation des notifications: Ce témoin permet à l’application de savoir si une notification a été consultée et de moduler l’affichage en fonction.
		Ce témoin a une durée de vie de 7 jours.</li>
	</ul></li>
</ul>


<h2>Responsabilité de l’utilisateur</h2>

<p>En acceptant les présentes conditions d’utilisation, vous acceptez les éléments suivants.
Les demandes d’accès à l’information soumises par JeVeuxSavoir.org ainsi que tous les échanges subséquents véhiculés par JeVeuxSavoir.org doivent respecter les règles de politesse d’usage. Veuillez vous référer à la section d’<a href="http://help/" target="_blank">aide</a> pour plus d’information sur les règles à suivre pour soumettre une demande d’accès à l’information.</p>

<p>Les demandes d’accès à l’information soumises par JeVeuxSavoir.org ne doivent pas viser de renseignements personnels de quelque manière que ce soit.</p>

<p>Vous êtes tenus de vérifier les réponses à vos demandes par vous-même à l’adresse courriel que vous avez fourni (une notification par courriels vous sera envoyée le cas échéant) et sur le site JeVeuxSavoir. Une réponse à demande d’information est considérée comme délivrée au demandeur dès qu’elle est reçue par courriel. Les délais liés au processus de demande d’information, notamment le délai d’appel, courent à partir de la réception de cette réponse.</p>

<p>Vous avez la responsabilité de prendre toutes les mesures nécessaires pour vous assurer que votre mot de passe est utilisé dans des conditions optimales de sécurité JeVeuxSavoir.org ne peut être tenu responsable d&#39;une utilisation de votre compte qui ne respecte pas ces conditions. Si vous soupçonnez que votre mot de passe a été volé, vous devez <a href="http://help/contact" target="_blank">communiquer</a> avec nous dès que possible.
JeVeuxSavoir.org peut modifier de temps à autre ces conditions d&#39;utilisation. Le service est régi par le droit applicable au Québec. Tout litige lié à l&#39;utilisation de ce service sera soumis à la compétence exclusive des tribunaux du Québec.</p>

<h2>Désactivation du compte</h2>

<p>En cas de non-respect des présentes conditions d’utilisation, JeVeuxSavoir.org se réserve le droit de désactiver le compte fautif.</p>
<p>En cas de récidive de non-respect des conditions d’utilisateur, JeVeuxSavoir.org se réserve le droit de bloquer l’accès du site selon les mécanismes techniques disponibles.</p>

<h2>Propriété et utilisation du contenu</h2>

<p>Les documents résultant d’une demande d’information et transmis par l’intermédiaire de JeVeuxSavoir sont la soumis au droit d’auteur de l’autorité émettrice, par exemple le droit d’auteur du Gouvernement du Québec pour ce qui est émis par le Gouvernement du Québec.</p>

<p>Vous avez la responsabilité de vous enquérir des conditions de réutilisation des données avant de les diffuser ou de les modifier</p>
</div>

