<% @title = "Alaveteli" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip">

<h1 id="credits"><%= @title%> <a href="#credits">#</a> </h1>

<dl>

<dt id="Alaveteli">JeVeuxSavoir fonctionne grâce à Alaveteli <a href="#thanks">#</a> </dt>
<dd>

<p>Ce site web est grâce à Alaveteli. Alaveteli est un logiciel libre destiné à faire des demandes d’accès à l’information. Il peut être facilement traduit en n’importe quelle langue et personnalisé pour qu’il s’adapte aux différentes lois. </p>

<p>Le développement d’Alaveteli est financé et appuyé par un grand nombre de fondations et d’organisations caritatives qui s’intéressent à la transparence partout dans le monde.</p>

<p>Pour en apprendre davantage sur Alaveteli, consulté le <a href="http://www.alaveteli.org/">site web</a> de l'application!</p>
</dd>


<div id="hash_link_padding"></div>


</div>
