<% @title = "Protection des renseignements personnels" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
<h1 id="privacy"><%= @title %> <a href="#privacy">#</a> </h1>

<dl>

<dt id="courriel">Qui peut voir mon adresse courriel? <a href="#courriel">#</a> </dt>

<dd>
<p>Nous ne dévoilerons pas votre adresse courriel à moins que nous n’y soyons obligés par la loi, ou que vous nous le demandiez personnellement. Cela s’applique aussi à l’autorité publique à laquelle vous envoyez une requête. Ils ne peuvent voir qu’une adresse de la forme <code>xxxx@jeveuxsavoir.com</code>, spécifique à chaque requête.</p>
<p>Si vous envoyez un message à d’autres utilisateurs du site, cela leur révélera alors votre adresse courriel. Vous serez averti lorsque cela se produit.</p> 
</dd>



<dt id="pourriel">Recevrai-je du courrier indésirable sur mon adresse courriel? <a href="#pourriel">#</a> </dt>
<dd><p>Non. Après votre inscription à JeVeuxSavoir, nous vous enverrons seulement des courriels liés à une requête que vous avez faite, une alerte à laquelle vous vous êtes inscrit, ou pour toute autre raison spécifiquement autorisée par vous. Nous ne donnerons ou ne vendrons jamais votre adresse à quiconque, à moins que nous n’y soyons obligés par la loi, ou à votre demande.</p>
</dd>




<dt id="public">Est-ce que mon nom et mes requêtes apparaîtront publiquement sur le site? <a href="#public">#</a> </dt>

<dd>
<p>Nous publions vos requêtes sur Internet pour que tous les collaborateurs potentiels puissent les lire et utiliser l’information que vous avez trouvée. Nous n’effaçons habituellement pas les requêtes ou leurs réponses.</p>
<p>Votre nom est lié à votre demande; il doit donc être publié également. Il est ici question d’équité, puisque nous publierons le nom de l’agent d’accès à l’information qui écrira la réponse à votre requête. Utiliser votre vrai nom aide également à vous mettre en contact avec des gens qui souhaiteraient vous assister pour votre recherche ou votre campagne.
</p>
</dd>



<dt id="nom">Puis-je soumettre une demande d’accès en empruntant un pseudonyme? <a href="#nom">#</a> </dt>


<dd>
<p>Bien que la loi ne vous oblige pas à utiliser votre véritable nom, il s’agit d’une bonne pratique à adopter dans un contexte où l’on souhaite augmenter la transparence. De plus, si votre demande est refusée, vous devrez utiliser votre véritable nom afin de contester la décision.</p>
<p>Il y a d’autres solutions si vous ne souhaitez pas soumettre votre nom complet.</p>
<ul>
	<li>Utilisez votre nom sous une différente forme. Si votre nom est Michel Tremblay, vous pourriez soumettre une demande sous le nom M. Tremblay;</li>
	<li>Dans la plupart des cas, vous pouvez soumettre une demande sous votre nom par lequel vous êtes connus;</li>
	<li>Utilisez le nom d’une organisation, d’une compagnie, etc;</li>
	<li>Demandez à quelqu’un de soumettre la demande à votre place.</li>
</ul>
<p>En tout état de cause, veuillez ne pas adopter l’identité de quelqu’un d’autre.</p>

</dd>



<dt id="adresse">N’ont-ils pas besoin d’une adresse postale pour envoyer une réponse papier? <a href="#adresse">#</a> </dt>

<dd>
<p>Dans la mesure du possible, demandez à ce que la réponse vous soit fournie par courrier électronique en réponse à votre demande. C’est ainsi que les documents fournis en réponse à votre demande deviendront accessibles à tout un chacun. Si votre interlocuteur vous répond, par exemple, que seule des versions papier existent, insistez pour qu’ils scannent les documents.</p>
<p>En cas de refus recurrents, JeVeuxSavoir offre le moyen de faire parvenir une adresse postale à votre interlocuteur sans que cette dernière ne soit rendue publique sur le site. Pour ce faire, en allant sur la page dédiée à la demande en question, vous pouvez spécifier que l’organisation va « répondre par la poste », et cela vous enverra l’adresse courriel à utiliser à cet effet.</p>

</dd>

<dt id="cookies">Qu’en est-il des fichiers témoins? <a href="#cookies">#</a> </dt>

<dd>
JeVeuxSavoir utilise des fichiers témoins (connus sous le nom de cookies) contenant des données permettant à l’application de vous reconnaître lorsque vous naviguez sur le site. Ces fichiers témoins ne contiennent aucune information personnelle et sont de deux types:
 
<ul> 
	<li>Fichier témoin volatile: Ces fichiers sont nécessaires au fonctionnement de l’application JeVeuxSavoir pour vous reconnaitre lorsque vous passez d’une page à une autre ou pour mémoriser certains éléments de contexte. Les témoins volatiles disparaissent lorsque vous quittez la session JeVeuxSavoir ou que vous fermez votre navigateur web.</li>
	<li>Fichier témoin persistant: Ces fichiers sont souvegardé sur votre disque dur lorsque vous éteignez votre navigateur et peuvent perdurer jusqu’à un mois après votre dernière visite. Il s’agit principalement:
		<ul>
		<li>Du fichier témoin de session qui permet à l’application que vous êtes un utilisateur enregistré dans l’application. Ce témoin a une durée de vie d’un mois si vous cliquez l’option “Se rappeler du mot de passe” lorsque vous vous connectez. Sinon ce témoin est supprimé à la fermeture de votre navigateur</li>
		<li>Fichier témoin de consultation des notifications: Ce témoin permet à l’application de savoir si une notification a été consultée et de moduler l’affichage en fonction. Ce témoin a une durée de vie de 7 jours.</li>
		</ul>
	</li>
</ul>
</dd>

<dt id="suppression">Pouvez-vous effacer mes requêtes ou modifier mon nom? <a href="#suppression">#</a> </dt>

<dd>

<p>JeVeuxSavoir est système d’archivage permanent et public des requêtes d’accès à l’information. Bien que vous puissiez juger que la réponse à une requête n’est plus utile après un moment, elle pourrait être utile à d’autres. Pour cette raison, nous n’effaçons pas les requêtes.
Exceptionnellement, nous pouvons retirer ou changer votre nom sur le site internet (voir la question suivante). Dans le même ordre d’idée, nous pouvons aussi effacer d’autres informations personnelles.</p>
<p>Si vous êtes préoccupé par de telles possibilités avant de faire votre requête, consultez la section sur l’utilisation d’un <a href="#nom">pseudonyme.</a></p>

</dd>

<dt id="takedown">Pouvez-vous retirer certaines de mes informations personnelles? <a href="#takedown">#</a> </dt>

<dd>

<p>Si vous voyez certaines de vos informations personnelles sur le site que vous souhaitez cacher ou retirer, faites-le nous savoir. Spécifiez exactement quelle information pose problème, la raison et l’emplacement sur le site.</p>
S’il s’agit d’une information personnelle confidentielle postée accidentellement, nous la retirerons. Normalement, nous ne considérons les requêtes de retrait d’information que lorsqu’elles proviennent de l’individu concerné. Cependant, nous apprécierions dans les cas d’information jugée confidentielle, que toute incongruité nous soit signalée.</p> 
<p>Nous considérons qu’il est dans l’intérêt du public de publier les noms des officiers ou des agents d’autorité publique. Nous ne retirerons ces noms que sous des circonstances exceptionnelles, comme la possiblité que le dévoilement d’un nom pose un risque significatif à la sécurité de l’individu en question. Si vous êtes dans une telle situation et que vous souhaitez voir votre nom retiré, vous devez nous faire parvenir une requête de la part de votre superviseur.</p>
<p>Pour toute autre requête, nous appliquons une évaluation d’intérêt public pour décider si l’information devrait être retirée. Nous ne pouvons pas réellement modifier plusieurs types de pièces jointes (tels que des fichiers PDF, Microsoft Word ou Excel); nous demanderons alors que l’autorité en place nous expédie les documents en question une seconde fois, avec l’information personnelle retirée.  </p>
</dd>


</dl>

<div id="hash_link_padding"></div>


</div>
