<% @title = "Insatisfait de la réponse obtenue?" %>


<% if !@info_request.nil? %>
<h1>Insatisfait de la réponse à votre demande '<%=request_link(@info_request) %>'?
</h1>
<% else %>
<h1>Insatisfait de la réponse que vous avez obtenue?</h1>
<% end %>

<p>Si...</p>

<ul>
<li>Vous n'avez pas obtenu de réponse dans le délai imparti de 20 jours (et le responsable de l'accès ne vous a pas demandé une extension de temps pour répondre);</li>
<li>Vous n'avez pas obtenu toute l'information demandée;</li>
<li>Votre demande a été refusée pour une raison que vous jugez contestable;</li>
</ul>

<p>... vous pouvez demander une révision auprès de la Commission d'accès à l'information.</p>


<h1 id="internal_review">Soumettre une demande de révision<a class="hover_a" href="#internal_review">#</a> </h1>

<p>Les demandes de révision sont encadrées par l'article 135 de la Loi sur l’accès aux documents des organismes publics et sur la protection des renseignements personnels. Les demandes de révision doivent être adressées à la <a href="http://www.cai.gouv.qc.ca/">Commission d’accès à l’information du Québec</a>.</p>

<p>Habituellement, avec toute réponse de l'organisme public, vous recevrez un document expliquant la démarche à suivre. Si vous n'avez pas obtenu un tel document, vous pouvez contacter directement la CAI. Attention! La demande de révision doit se faire dans un délai de 30 jours après réception du refus ou après dépassement du délai imparti à l'organisme pour répondre si ce dernier n'a pas répondu.</p>

<p>Au cas où le processus de révision de la CAI serait également insatisfaisant, il vous sera possible d'injecter appel auprès d'un tribunal. Autant la révision que l'appel sortent du cadre de <%= site_name %> mais nous sommes intéressés à ce que vous ajoutiez une annotation lorsque votre cas sera réglé.</p>

<h1 id="other_means">Les autres options<a class="hover_a" href="#other_means">#</a> </h1>

<p>Si vous débouchez sur un cul-de-sac ou que vous sentez que les délais seront élevés (ce qui peut être le cas lors d'un appel), vous pouvez évaluer d'autres pistes pour obtenir cette information. Voici quelques idées:

<ul>
<li>Faire une <strong>nouvelle demande d'accès</strong> visant des informations plus sommaires ou en demandant de l'information de manière plus indirecte;</li>
<li>Si d'<strong>autres organismes publics</strong> ou organisations sont liés aux documents demandés, vous pouvez également leur envoyer une demande d'accès;</li>
<li>Écrivez à <strong>votre député ou à votre conseiller</strong> pour leur présenter votre problème et demander leur appui. Ils peuvent contacter directement un ministre ou une personne responsable pour soutenir votre demande.</li>
<li>Cherchez si d'<strong>autres personnes ou des chercheurs</strong> dans le domaine qui vous intéresse auraient des informations ou des documents pertinents pour vous;</li>
<li>Lancez une campagne d'intérêt public en sollicitant les personnes et groupes intéressés par votre sujet.
</ul>
</p>


